body {
    text-align: center;
}

.controlBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.topRow,
.bottomRow {
    display: flex;
    justify-content: center;
}

.middleRow {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    width: 90px;
    height: 90px;
    font-size: 30px;
    border-radius: 20px;
    border: none;

    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;

}

.btn:active {
    box-shadow: inset 0 4px 10px gray;
    transform: scale(0.85);
}